<nav class="navbar">
  <ul>
    <li class="navbar__item"><a href="{{ '/listPage/Books_List.html' | relative_url }}">Books</a></li>
    
    <li class="navbar__item"><a href="{{ '/listPage/Games_List.html' | relative_url }}"> Games</a></li>
    
    <li class="navbar__item"><a href="{{ '/listPage/Poems_List.html' | relative_url }}">Poems</a></li>
    
    <li class="navbar__item"><a href="{{ '/listPage/Piece_Studys_List.html' | relative_url }}">Piece Studys</a></li>
    
    <!-- <li class="navbar__item"><a href="https://github.com/kkninjae/book/archive/master.zip">Download</a></li> -->
  </ul>
</nav>
